@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --black: #000;
    --white: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

#appBg{
    height: 420px;
    width: 300px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

